@model List<LeaveVM>

@{
    ViewData["Title"] = "LeaveRequests";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <div class="heading-list">PERSONEL İZİN TALEPLERİ</div>
            <div class="pagination-container">

                <script>
                    var columnsToExport = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
                    $(document).ready(function () {
                        $('#leaverequests').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },
                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',

                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }

                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },

                            ],
                            "order": [
                                [4, 'desc']
                            ],
                            "columnDefs": [
                                { "type": "date-eu", "targets": 4 }
                            ]
                        });
                    });
                </script>

                <table id="leaverequests"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">İzin No</th>
                            <th style="width: 7%">Ad</th>
                            <th style="width: 7%">Soyad</th>
                            <th style="width: 8%">İzin Türü</th>
                            <th style="width: 7%">Talep Tarihi</th>
                            <th style="width: 7%">İzin Başlangıç Tarihi</th>
                            <th style="width: 7%">İzin Bitiş Tarihi</th>
                            <th style="width: 7%">İzin Günü</th>
                            <th style="width: 14%">Açıklama</th>
                            <th style="width: 8%">Statü</th>
                            <th style="width: 12%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                if (item != null)
                                {
                                    var displayLeaveType = typeof(LeaveType).GetMember(item.LeaveType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayNameLeaveType = displayLeaveType?.GetName() ?? item.LeaveType.ToString();

                                    var displayLeaveStatus = typeof(RequestStatus).GetMember(item.LeaveStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayNameLeaveStatus = displayLeaveStatus?.GetName() ?? item.LeaveStatus.ToString();
                                    <tr>
                                        <td>@item.LeaveNo</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@displayNameLeaveType</td>
                                        <td data-order="@item.CreateDate.ToString("yyyy-MM-dd")">@item.CreateDate.ToString("dd.MM.yyyy")</td>
                                        <td data-order="@item.StartDateOfLeave.ToString("yyyy-MM-dd")">@item.StartDateOfLeave.ToString("dd.MM.yyyy")</td>
                                        <td data-order="@item.EndDateOfLeave.ToString("yyyy-MM-dd")">@item.EndDateOfLeave.ToString("dd.MM.yyyy")</td>
                                        <td>@item.DaysOfLeave</td>
                                        <td>@item.Explanation</td>
                                        <td>@displayNameLeaveStatus</td>
                                        <td>
                                            @if (item.LeaveStatus == RequestStatus.Pending)
                                            {
                                                <div class="modal fade" id="approveLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">İzin Talebi Onaylama</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                İzin talebini onaylamak istediğinize emin misiniz?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <a asp-action="ApproveLeave"
                                                                   asp-controller="Leave"
                                                                   asp-route-id="@item.Id">
                                                                    <button type="button" class="btn btn-primary">Onaylıyorum</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="rejectLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">İzin Talebi Reddetme</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group mb-3">İzin talebini reddetmek istediğinize emin iseniz sebebini yazmanız gerekmektedir.</div>
                                                                <div class="form-group mb-3">
                                                                    <label class="control-label">Reddetme Sebebi</label>
                                                                    <textarea id="rejectReason" class="form-control mb-3" rows="8" required></textarea>
                                                                    <span id="rejectValidation" class="text-danger"></span>
                                                                    <input type="hidden" value="@item.Id" id="leaveId" />
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <button id="rejectButton" type="button" class="btn btn-danger">Reddet</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a>
                                                    <button type="button" class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#approveLeaveModal">
                                                        <i class="fa fa-check"></i><span>Onayla</span>
                                                    </button>
                                                </a>
                                                <a>
                                                    <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#rejectLeaveModal">
                                                        <i class="fa fa-x"></i><span>Reddet</span>
                                                    </button>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
@*                <div>
                    <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
                </div>*@
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#rejectButton').on('click', function () {
                var rejectReason = $('#rejectReason').val();
                var leaveId = $('#leaveId').val();

                // Sebebi boş bırakırsa hata mesajı ver
                if (rejectReason.trim() === '') {
                    $('#rejectValidation').text('Lütfen reddetme sebebinizi giriniz!');
                    return; // Return et ki AJAX requesti yapmasın
                } else {
                    $('#rejectValidation').text(''); // Önceki hata mesajını temizle
                }

                // AJAX requesti yap
                $.ajax({
                    type: "POST",
                    url: "/Leave/RejectLeave",
                    data: { id: leaveId, rejectReason: rejectReason },
                    success: function (response) {
                        // Handle success response as needed
                        console.log("Request rejected successfully.");
                        $('#rejectLeaveModal').modal('hide');
                        window.location.reload(); // Sayfayı yenile
                    },
                    error: function (error) {
                        // Handle errors if any
                        console.error("Error rejecting request:", error);
                        // Optionally, display an error message or take corrective action
                    }
                });
            });
        });
    </script>

</body>
