@model List<LeaveVM>

@{
    ViewData["Title"] = "LeaveRequests";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
            font-size: 1vw;
            color: #ffffff;
        }

        .aside {
            margin-top: 100px;
            margin-left: 50px;
        }

        h6 {
            font-size: 1vw;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Personel İzin Talepleri</h3>
            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#leaverequests').DataTable({
                            "order": [
                                [2, 'desc']
                            ]
                        });
                    });
                </script>

                <table id="leaverequests"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">İzin No</th>
                            <th style="width: 8%">İzin Türü</th>
                            <th style="width: 7%">Talep Tarihi</th>
                            <th style="width: 9%">İzin Günü</th>
                            <th style="width: 7%">Ad</th>
                            <th style="width: 7%">Soyad</th>
                            <th style="width: 7%">İzin Başlangıç Tarihi</th>
                            <th style="width: 7%">İzin Bitiş Tarihi</th>
                            <th style="width: 14%">Açıklama</th>
                            <th style="width: 8%">Statü</th>
                            <th style="width: 18%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                if (item != null)
                                {
                                    var displayLeaveType = typeof(LeaveType).GetMember(item.LeaveType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayNameLeaveType = displayLeaveType?.GetName() ?? item.LeaveType.ToString();

                                    var displayLeaveStatus = typeof(RequestStatus).GetMember(item.LeaveStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayNameLeaveStatus = displayLeaveStatus?.GetName() ?? item.LeaveStatus.ToString();
                                    <tr>
                                        <td>@item.LeaveNo</td>
                                        <td>@displayNameLeaveType</td>
                                        <td>@item.CreateDate.ToString("dd.MM.yyyy")</td>
                                        <td>@item.DaysOfLeave</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                                        <td>@item.EndDate.ToString("dd.MM.yyyy")</td>
                                        <td>@item.Explanation</td>
                                        <td>@displayNameLeaveStatus</td>
                                        <td>
                                            @if (item.LeaveStatus == RequestStatus.Pending)
                                            {
                                                <div class="modal fade" id="approveLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">İzin Talebi Onaylama</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                İzin talebini onaylamak istediğinize emin misiniz?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <a asp-action="ApproveLeave"
                                                                   asp-controller="Leave"
                                                                   asp-route-id="@item.Id">
                                                                    <button type="button" class="btn btn-primary">Onaylıyorum</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="rejectLeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">İzin Talebi Reddetme</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                İzin talebini reddetmek istediğinize emin misiniz?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <a asp-action="RejectLeave"
                                                                   asp-controller="Leave"
                                                                   asp-route-id="@item.Id">
                                                                    <button type="button" class="btn btn-danger">Onaylıyorum</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a>
                                                <button type="button" class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#approveLeaveModal">
                                                        <i class="fa fa-check"></i><span>Onayla</span>
                                                    </button>
                                                </a>
                                                <a>
                                                <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#rejectLeaveModal">
                                                        <i class="fa fa-x"></i><span>Reddet</span>
                                                    </button>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
                <div>
                    <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
