@model List<LeavePersonnelVM>
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using humanResourceProject.Domain.Enum;
@using humanResourceProject.Models.VMs;
@{
    ViewData["Title"] = "MyLeaves";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
            font-size: 1vw;
            color: #ffffff;
        }

        .aside {
            margin-top: 100px;
            margin-left: 50px;
           
        }

        h6 {
            font-size: 1vw;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">İzin Taleplerim</h3>
            @if (Model != null)
            {
                <a asp-action="CreateLeave" asp-controller="Leave" asp-route-id="@Guid.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value)">
                    <button class="btn btn-success">İzin Ekle</button>
                </a>
            }
            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#leaves').DataTable({
                            "order": [
                                [2, 'desc']
                            ]
                        });
                    });
                </script>

                <table id="leaves"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">İzin No</th>
                            <th style="width: 8%">İzin Türü</th>
                            <th style="width: 6%">Talep Tarihi</th>
                            <th style="width: 8%">İzin Gün Sayısı</th>
                            <th style="width: 10%">İzin Başlangıç Tarihi</th>
                            <th style="width: 10%">İzin Bitiş Tarihi</th>
                            <th style="width: 15%">Açıklama</th>
                            <th style="width: 10%">Yönetici</th>
                            <th style="width: 10%">Statü</th>
                            <th style="width: 15%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayLeaveType = typeof(LeaveType).GetMember(item.LeaveType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameLeaveType = displayLeaveType?.GetName() ?? item.LeaveType.ToString();

                                var displayLeaveStatus = typeof(RequestStatus).GetMember(item.LeaveStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameLeaveStatus = displayLeaveStatus?.GetName() ?? item.LeaveStatus.ToString();
                                <tr>
                                    <td>@item.LeaveNo</td>
                                    <td>@displayNameLeaveType</td>
                                    <td>@item.CreateDate.ToString("dd.MM.yyyy")</td>
                                    <td>@item.DaysOfLeave</td>
                                    <td>@item.StartDateOfLeave.ToString("dd.MM.yyyy")</td>
                                    <td>@item.EndDateOfLeave.ToString("dd.MM.yyyy")</td>
                                    <td>@item.Explanation</td>
                                    <td>@item.ManagerFullName</td>
                                    <td>@displayNameLeaveStatus</td>
                                    <td>
                                        @if (item.LeaveStatus == RequestStatus.Pending)
                                        {
                                            <a asp-action="UpdateLeave"
                                               asp-controller="Leave"
                                               asp-route-id="@item.Id">
                                                <button class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center">
                                                    <i class="fa fa-pen"></i><span>Güncelle</span>
                                                </button>
                                            </a>
                                            <a asp-action="DeleteLeave"
                                               asp-controller="Leave"
                                               data-bs-toggle="modal"
                                               data-bs-target="#confirmDeleteModal_@item.Id">
                                                <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                    <i class="fa fa-trash"></i><span>Kaldır</span>
                                                </button>
                                            </a>

                                            <!-- Modal -->
                                            <div class="modal fade" id="confirmDeleteModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmDeleteModalLabel">Silme İşlemi Onayı</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Silmek istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                            <a asp-action="DeleteLeave" asp-controller="Leave" asp-route-id="@item.Id">
                                                                <button type="button" class="btn btn-danger">Sil</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div>
                    <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
                </div>
            </div>
        </div>
    </div>
</body>