@using humanResourceProject.Models.VMs;

@{
    ViewData["Title"] = "MyLeaves";
    Layout = "~/Views/Shared/_PanelPartial_Personnel.cshtml";
}

@model List<LeavePersonnelVM>

<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")


        <div class="aside container mt-5 col-md-9 col-sm-9">
            @if (Model != null)
            {
                <a asp-action="CreateLeave" asp-controller="Leavee">
                    <button class="custom-button custom-button--create-entity">İzin Ekle</button>
                </a>
            }

            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#leaves').DataTable();
                    });

                </script>


                <table id="leaves"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 7%">Talep Tarihi</th>
                            <th style="width: 30%">Açıklama</th>
                            <th style="width: 7%">İzin Başlangıç Tarihi</th>
                            <th style="width: 7%">İzin Bitiş Tarihi</th>
                            <th style="width: 20%">İzin Gün Sayısı</th>
                            <th style="width: 9%">İzin Türü</th>
                            <th style="width: 10%">Durumu</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayLeaveType = typeof(LeaveType).GetMember(item.LeaveType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameLeaveType = displayLeaveType?.GetName() ?? item.LeaveType.ToString();

                                var displayLeaveStatus = typeof(RequestStatus).GetMember(item.LeaveStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameLeaveStatus = displayLeaveStatus?.GetName() ?? item.LeaveStatus.ToString();
                                <tr>
                                    <td>@item.CreateDate.ToShortDateString()</td>
                                    <td>@item.Explanation</td>
                                    <td>@item.StartDateOfLeave.ToShortDateString()</td>
                                    <td>@item.EndDateOfLeave.ToShortDateString()</td>
                                    <td>@item.DaysOfLeave</td>
                                    <td>@displayNameLeaveType</td>
                                    <td>@displayNameLeaveStatus</td>
                                    <td>
                                        @if (item.LeaveStatus == RequestStatus.Pending)
                                        {
                                            <a asp-action="UpdateLeave"
                                            asp-controller="Leave"
                                               asp-route-id="@item.Id" onclick="return confirm('Güncellemek istediğinize emin misiniz?')">
                                                <button class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center">
                                                    <i class="fa fa-pen"></i><span>Güncelle</span>
                                                </button>
                                            </a>
                                            <a asp-action="DeleteLeave"
                                               asp-controller="Leave"
                                               asp-route-id="@item.Id" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                                <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                    <i class="fa fa-trash"></i><span>Kaldır</span>
                                                </button>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>