@model List<LeavePersonnelVM>
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using humanResourceProject.Domain.Enum;
@using humanResourceProject.Models.VMs;
@{
    ViewData["Title"] = "MyLeaves";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}


<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">İzin Taleplerim</h3>
            @if (Model != null)
            {
                <a asp-action="CreateLeave" asp-controller="Leave" asp-route-id="@Guid.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value)">
                    <button class="btn btn-secondary mb-3">İzin Ekle</button>
                </a>
            }
            <div class="pagination-container">

                <script>
                    var columnsToExport = [0, 1, 2, 3, 4, 5, 6, 7, 8];
                    $(document).ready(function () {
                        $('#leaves').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },
                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',

                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }

                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },

                            ],
                            "order": [
                                [2, 'desc']
                            ],
                            "columnDefs": [
                                { "type": "date-eu", "targets": 2 }
                            ]
                        });
                    });
                </script>

                <table id="leaves"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">İzin No</th>
                            <th style="width: 8%">İzin Türü</th>
                            <th style="width: 6%">Talep Tarihi</th>
                            <th style="width: 10%">İzin Başlangıç Tarihi</th>
                            <th style="width: 10%">İzin Bitiş Tarihi</th>
                            <th style="width: 8%">İzin Gün Sayısı</th>
                            <th style="width: 15%">Açıklama</th>
                            <th style="width: 10%">Yönetici</th>
                            <th style="width: 10%">Statü</th>
                            <th style="width: 15%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayLeaveType = typeof(LeaveType).GetMember(item.LeaveType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameLeaveType = displayLeaveType?.GetName() ?? item.LeaveType.ToString();

                                var displayLeaveStatus = typeof(RequestStatus).GetMember(item.LeaveStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameLeaveStatus = displayLeaveStatus?.GetName() ?? item.LeaveStatus.ToString();
                                <tr>
                                    <td>@item.LeaveNo</td>
                                    <td>@displayNameLeaveType</td>
                                    <td data-order="@item.CreateDate.ToString("yyyy-MM-dd")">@item.CreateDate.ToString("dd.MM.yyyy")</td>
                                    <td data-order="@item.StartDateOfLeave.ToString("yyyy-MM-dd")">@item.StartDateOfLeave.ToString("dd.MM.yyyy")</td>
                                    <td data-order="@item.EndDateOfLeave.ToString("yyyy-MM-dd")">@item.EndDateOfLeave.ToString("dd.MM.yyyy")</td>
                                    <td>@item.DaysOfLeave</td>
                                    <td>@item.Explanation</td>
                                    <td>@item.ManagerFullName</td>
                                    <td>@displayNameLeaveStatus</td>
                                    <td>
                                        @if (item.LeaveStatus == RequestStatus.Pending)
                                        {
                                            <a asp-action="UpdateLeave"
                                               asp-controller="Leave"
                                               asp-route-id="@item.Id">
                                                <button class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center">
                                                    <i class="fa fa-pen"></i><span>Güncelle</span>
                                                </button>
                                            </a>
                                            <a asp-action="DeleteLeave"
                                               asp-controller="Leave"
                                               data-bs-toggle="modal"
                                               data-bs-target="#confirmDeleteModal_@item.Id">
                                                <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                    <i class="fa fa-trash"></i><span>Kaldır</span>
                                                </button>
                                            </a>

                                            <!-- Modal -->
                                            <div class="modal fade" id="confirmDeleteModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmDeleteModalLabel">Silme İşlemi Onayı</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Silmek istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                            <a asp-action="DeleteLeave" asp-controller="Leave" asp-route-id="@item.Id">
                                                                <button type="button" class="btn btn-danger">Sil</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>