@using humanResourceProject.Models.VMs;

@{
    ViewData["Title"] = "Leaves";
    Layout = "~/Views/Shared/_PanelPartial.cshtml";
}

@model List<LeavePersonnelVM>

<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        .panel {
            height: 120vh;
        }
    </style>
</head>

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")


        <div class="aside container mt-5 col-md-9 col-sm-9">
            @* <div class="search-bar" style="display: flex">
            <input type="text" id="searchInput" placeholder="Arama Yap" /><i class="fas fa-search mt-2"></i>
            </div>
            <hr /> *@
            @if (Model != null)
            {
                <a asp-action="CreateLeave" asp-controller="Personnel">
                    <button class="custom-button custom-button--create-advance">İzin Ekle</button>
                </a>
            }

            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#leave').DataTable();
                    });

                </script>


                <table id="leaves"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 20%">Açıklama</th>
                            <th style="width: 20%">İzin Bitiş Tarihi</th>
                            <th style="width: 20%">İzin Gün Sayısı</th>
                            <th style="width: 20%">İzin Türü</th>
                            <th style="width: 10%">Durumu</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Explanation</td>
                                    <td>@item.EndDateOfLeave</td>
                                    <td>@item.DaysOfLeave</td>
                                    <td>@item.LeaveType</td>
                                    <td>@item.LeaveStatus</td>
                                    <td>
                                        <a asp-action="EditLeave"
                                           asp-controller="Personnel"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex bg-primary">
                                                <i class="fa fa-pen"></i>
                                            </button>
                                        </a>

                                        <a asp-action="DeleteLeave"
                                           asp-controller="Personnel"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-danger btn-sm d-inline-flex">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>







            </div>




        </div>
    </div>
</body>