@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@using humanResourceProject.Domain.Enum;
@using humanResourceProject.Models.DTOs;
@model UpdateLeaveDTO

@{
    ViewData["Title"] = "UpdateLeave";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="row">

        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 0 auto">
            <form asp-action="UpdateLeave">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h1 class="card-title">İzin Güncelleme</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group  mb-3">
                            <label asp-for="LeaveType" class="control-label"></label>
                            <select asp-for="LeaveType" class="form-control" />
                            @{
                                var enumType = typeof(LeaveType);
                                var enumValues = enumType.GetEnumValues();
                                foreach (var enumValue in enumValues)
                                {
                                    var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                    <option value="@enumValue">@displayName</option>
                                }
                                <option value="" disabled selected>İzin Tipi seçiniz!</option>
                            }
                            </select>
                            <span asp-validation-for="LeaveType" class="text-danger"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <label asp-for="DaysOfLeave" class="control-label"></label>
                            <input value="@Model.DaysOfLeave" type="number-decimal" min="0.5" step="0.5" asp-for="DaysOfLeave" class="form-control" />
                            <span asp-validation-for="DaysOfLeave" class="text-danger"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <label asp-for="StartDateOfLeave" class="control-label"></label>
                            <input value="@Model.StartDateOfLeave.ToString("dd.MM.yyyy")" min="@DateTime.Now" type="date" asp-for="StartDateOfLeave" class="form-control" />
                            <span asp-validation-for="StartDateOfLeave" class="text-danger"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <label asp-for="EndDateOfLeave" class="control-label"></label>
                            <input value="@Model.EndDateOfLeave.ToString("dd.MM.yyyy")" min="@DateTime.Now" type="date" asp-for="EndDateOfLeave" class="form-control" />
                            <span asp-validation-for="EndDateOfLeave" class="text-danger"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <label asp-for="Explanation" class="control-label"></label>
                            <input asp-for="Explanation" class="form-control" />
                            <span asp-validation-for="Explanation" class="text-danger"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <input value="@Model.EmployeeId" asp-for="EmployeeId" type="hidden" class="form-control" />
                            <input value="@Model.Id" asp-for="Id" type="hidden" class="form-control" />
                            <input value="@Model.CreateDate" asp-for="CreateDate" type="hidden" class="form-control" />
                            <input value="@Model.LeaveNo" asp-for="LeaveNo" type="hidden" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Güncelle" class="btn btn-primary" />
                        </div>
                        <div>
                            <hr>
                            <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
