@using humanResourceProject.Models.VMs;

@model List<CompanyVM>

@{
    ViewData["Title"] = "Companies";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Şirketler</h3>

            <div class="pagination-container">


                <script>
                    var columnsToExport = [1, 2, 3, 4, 5, 6];

                    $(document).ready(function () {
                        $('#companies').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },



                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',

                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    },

                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },

                            ],
                            "order": [
                                [1, 'asc']
                            ],
                        });
                    });
                </script>


                @if (Model != null && Model.Any())
                {
                    <table id="companies" class="display">
                        <thead>
                            <tr>
                                <th style="width: 4%">Şirket Adı</th>
                                <th style="width: 8%">Personel Sayısı</th>
                                <th style="width: 8%">Vergi numarası</th>
                                <th style="width: 10%">Vergi Dairesi</th>
                                <th style="width: 10%">Adres</th>
                                <th style="width: 7%">Telefon Numarası</th>
                                <th style="width: 8%">Statü</th>
                                <th style="width: 18%">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var company in Model)
                            {
                                var displayRequestStatusAttribute = typeof(RequestStatus).GetMember(company.CompanyStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameRequestStatus = displayRequestStatusAttribute?.Name ?? company.CompanyStatus.ToString();

                                <tr>
                                    <td>@company.CompanyName</td>
                                    <td>@company.NumberOfEmployees</td>
                                    <td>@company.TaxNumber</td>
                                    <td>@company.TaxOffice</td>
                                    <td>@company.Address</td>
                                    <td>@company.PhoneNumber</td>
                                    <td>@displayNameRequestStatus</td>
                                    <td>
                                        @if (company.CompanyStatus == RequestStatus.Pending)
                                        {
                                            <button class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#approveCompanyModal_@company.Id">
                                                <i class="fa fa-check"></i><span>Onayla</span>
                                            </button>

                                        <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#rejectCompanyModal">
                                            <i class="fa fa-x"></i><span>Reddet</span>
                                        </button>

                                        <div class="modal fade" id="approveCompanyModal_@company.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Şirket Oluşturma talebi onaylama</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Şirket Oluşturma talebini istediğinize emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="ApproveCompany"
                                                           asp-controller="Company"
                                                           asp-route-id="@company.Id">
                                                            <button type="button" class="btn btn-primary">Onaylıyorum</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="rejectCompanyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"> Talebi Reddetme</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group mb-3">
                                                            Şirket talebini reddetmek istediğinize emin iseniz sebebini yazmanız gerekmektedir.
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <label class="control-label">Reddetme Sebebi</label>
                                                            <textarea id="rejectReason" class="form-control mb-3" rows="8" required></textarea>
                                                            <span id="rejectValidation" class="text-danger"></span>
                                                            <input type="hidden" value="@company.Id" id="companyId" />
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <button id="rejectButton" type="button" class="btn btn-danger">Reddet</button>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        }
                                    </td>
                                </tr>
                            }

                            
                        </tbody>
                    </table>

                }
                else
                {
                    <p class="text-center">No companies found.</p>
                }
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#rejectButton').on('click', function () {
                    var rejectReason = $('#rejectReason').val();
                    var companyId = $('#companyId').val();

                    // Sebebi boş bırakırsa hata mesajı ver
                    if (rejectReason.trim() === '') {
                        $('#rejectValidation').text('Lütfen reddetme sebebinizi giriniz!');
                        return; // Return et ki AJAX requesti yapmasın
                    } else {
                        $('#rejectValidation').text(''); // Önceki hata mesajını temizle
                    }

                    // AJAX requesti yap
                    $.ajax({
                        type: "POST",
                        url: "/Company/RejectCompany",
                        data: { id: companyId, rejectReason: rejectReason },
                        success: function (response) {
                            // Handle success response as needed
                            console.log("Request rejected successfully.");
                            $('#rejectCompanyModal').modal('hide');
                            window.location.reload(); // Sayfayı yenile
                        },
                        error: function (error) {
                            // Handle errors if any
                            console.error("Error rejecting request:", error);
                            // Optionally, display an error message or take corrective action
                        }
                    });
                });
            });
        </script>
        @section Scripts {
            @if (TempData["SuccessUpdateCompanyMessage"] != null)
            {
                <script>
                    toastr["info"]("Şirket bilgileri güncellenmiştir.", "Başarılı");
                </script>
            }
        }
</body>


