@using humanResourceProject.Models.VMs;
@model CompanyVM

@{
    ViewData["Title"] = "Delete Company";
}

<h2>Delete Company</h2>

<p>Are you sure you want to delete the company with the following details?</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Company Name</dt>
        <dd class="col-sm-10">@Model.CompanyName</dd>

        <dt class="col-sm-2">Number of Employees</dt>
        <dd class="col-sm-10">@Model.NumberOfEmployees</dd>

        <dt class="col-sm-2">Tax Number</dt>
        <dd class="col-sm-10">@Model.TaxNumber</dd>

        <dt class="col-sm-2">Tax Office</dt>
        <dd class="col-sm-10">@Model.TaxOffice</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
    </dl>
</div>

<form asp-action="Delete" asp-controller="Company" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="Company" class="btn btn-secondary">Cancel</a>
    </div>
</form>
