@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using humanResourceProject.Domain.Enum
@model humanResourceProject.Models.DTOs.UpdateProfileDTO

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
            font-size: 1vw;
            color: #ffffff;
        }

        .aside {
            margin-top: 100px;
            margin-left: 50px;
        }

        h6 {
            font-size: 1vw;
            color: #ffffff;
        }

        .card {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ced4da;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Bilgilerini Güncelle</h3>
            <form asp-action="EditProfile">
                <div class="card">
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input value="@Model.Address" asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input value="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BloodGroup" class="control-label"></label>
                        <select asp-for="BloodGroup" class="form-control">
                            @{
                                var enumType = typeof(BloodGroup);
                                var enumValues = enumType.GetEnumValues();
                                foreach (var enumValue in enumValues)
                                {
                                    var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                    var isSelected = enumValue.Equals(Model.BloodGroup);

                                    if (isSelected)
                                    {
                                        <option value="@enumValue" selected>@displayName</option>
                                    }
                                    else
                                    {
                                        <option value="@enumValue">@displayName</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger  text-center"></div>
                </div>
            </form>

            <hr>
            <div class="text-center">
                <a asp-controller="Employee" asp-action="Home" class="custom-button custom-button--create-entity">
                    Anasayfaya Dön
                </a>
            </div>
        </div>
    </div>
</body>
