@model List<PersonelVM>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Personeller</h3>
            @if (Model != null)
            {
                if (User.IsInRole("CompanyManager"))
                {
                    <a asp-action="CreatePersonelManager" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity"><i class="fa-solid fa-user-plus me-1"></i>Yönetici Ekle</button>
                    </a>
                    <a asp-action="CreatePersonel" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity"><i class="fa-solid fa-user-plus me-1"></i>Personel Ekle</button>
                    </a>
                }
                if (User.IsInRole("Manager"))
                {
                    <a asp-action="CreatePersonel" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity"><i class="fa-solid fa-user-plus me-1"></i>Personel Ekle</button>
                    </a>
                }

                <button id="changeView" onclick="toggleView()()" class="float-end custom-button custom-button--create-entity"><i class="fa-solid fa-address-card me-1"></i>Kart Görünümü</button>

            }
            <div class="pagination-container">

                <script>
                    var columnsToExport = [1, 2, 3, 4, 5, 6];

                    $(document).ready(function () {
                        $('#employees').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },
                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',
                                 
                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    },
                                    //TODO cardviewda görünmesi için tablolarda headerlar var bunların yazdırılmaması gerekir
                                    customize: function (win) {
                                        $(win.document.body).find('#card-view-header').css('display', 'none');
                                    }

                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                     exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                                               
                            ],
                            "order": [
                                [1, 'asc']
                            ],
                        });
                    });
                </script>



                <table id="employees"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 4%">Fotoğraf</th>
                            <th style="width: 8%">Ad</th>
                            <th style="width: 8%">Soyad</th>
                            <th style="width: 10%">Telefon</th>
                            <th style="width: 10%">E-posta</th>
                            <th style="width: 7%">Cinsiyet</th>
                            <th style="width: 18%">Pozisyon</th>
                            @if (User.IsInRole("CompanyManager") || User.IsInRole("Manager"))
                            {
                                <th style="width: 28%">İşlemler</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayAttribute = typeof(Gender).GetMember(item.Gender.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayName = displayAttribute?.GetName() ?? item.Gender.ToString();
                                <tr>
                                    <td><img class="card-image" src="@item.ImagePath" style="width:50px;" alt="profil-fotoğrafı" /></td>
                                    <td><span id="card-view-header">Ad:&nbsp </span>@item.FirstName</td>
                                    <td><span id="card-view-header">Soyad:&nbsp</span>@item.LastName</td>
                                    <td><span id="card-view-header">Telefon:&nbsp</span>@item.PhoneNumber</td>
                                    <td><span id="card-view-header">E-posta:&nbsp</span>@item.Email</td>
                                    <td class="card-gender"><span id="card-view-header">Cinsiyet:&nbsp</span>@displayName</td>
                                    <td><span id="card-view-header" style="font-weight:400;">Meslek:&nbsp</span>@item.Title</td>
                                    @if (User.IsInRole("CompanyManager") || User.IsInRole("Manager"))
                                    {
                                        <td>
                                            <a asp-action="EditEmployee"
                                               asp-controller="Employee"
                                               asp-route-id="@item.Id">
                                                <button class="m-1 btn btn-secondary btn-sm d-inline-flex bg-primary align-items-center">
                                                    <i class="fa fa-pen"></i><span class="ms-2">Düzenle</span>
                                                </button>
                                            </a>
                                            <a asp-action="DeleteEmployee"
                                               asp-controller="Employee"
                                               data-bs-toggle="modal"
                                               data-bs-target="#deleteEmployeeModal_@item.Id">
                                                <button class="m-1 btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                    <i class="fa fa-trash"></i><span>Kaldır</span>
                                                </button>
                                            </a>
                                            <a asp-action="FireEmployee"
                                               asp-controller="Employee"
                                               data-bs-toggle="modal"
                                               data-bs-target="#fireEmployeeModal_@item.Id">
                                                <button type="button" class="m-1 btn btn-dark btn-sm d-inline-flex gap-1 align-items-center">
                                                    <i class="fa-solid fa-user-minus"></i><span class="ms-2">İşten Çıkart</span>
                                                </button>
                                            </a>

                                            @* Delete Employee modal *@
                                            <div class="modal fade" id="deleteEmployeeModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Personel Silme</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Personeli silmek istediğinizden emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                            <a asp-action="DeleteEmployee"
                                                               asp-controller="Employee"
                                                               asp-route-id="@item.Id">
                                                                <button type="button" class="btn btn-primary">Evet</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @* Fire Employee modal *@
                                            <div class="modal fade" id="fireEmployeeModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Personel İşten Çıkarma</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Personeli işten çıkarmak istediğinizden emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                            <a asp-action="FireEmployee"
                                                               asp-controller="Employee"
                                                               asp-route-id="@item.Id">
                                                                <button type="button" class="btn btn-warning">Evet</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


<style>
  
    .cards tbody tr {
        float: left;
        width: 30rem;
        margin: 0.5rem;
        border: 0.0625rem solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    }

    .cards tbody td {
        display: block;
        text-align: center;
    }

    .cards thead {
        display: none;
    }

    .cards td:before {
        content: attr(data-label);
        position: relative;
        float: left;
        color: #808080;
        min-width: 4rem;
        margin-left: 0;
        margin-right: 1rem;
        text-align: left;
    }

    tr.selected td:before {
        color: #CCC;
    }

    .table .avatar {
        width: 50px;
    }

    #card-view-header {
        display: none;
    }

</style>



<script>
    function toggleView() {
        var table = document.getElementById("employees");
        var buttonNameToChange = document.getElementById("changeView");
        var titles = document.querySelectorAll("#card-view-header");
        var gender = document.querySelectorAll(".card-gender");
        var cardImage = document.querySelectorAll(".card-image");


        if (table.classList.contains("cards")) {
            table.classList.remove("cards");
            buttonNameToChange.innerHTML = '<i class="fa-solid fa-address-card me-1"></i>Kart Görünümü';
            cardImage.forEach(function (image) {
                image.style.width = "50px";
            });


        } else {
            table.classList.add("cards");
            buttonNameToChange.innerHTML = '<i class="fa-solid fa-list me-1"></i>Liste Görünümü';
            cardImage.forEach(function (image) {
                image.style.width = "200px";
            });
        }
        titles.forEach(function (title) {
            title.style.display = table.classList.contains("cards") ? "inline-block" : "none";
            title.style.fontWeight = table.classList.contains("cards") ? "bold" : "normal";

        });

    }
</script>

