@model List<PersonelVM>

@{
    ViewData["Title"] = "MyAdvances";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
            font-size: 1vw;
            color: #ffffff;
        }

        .aside {
            margin-top: 100px;
            margin-left: 50px;
        }

        h6 {
            font-size: 1vw;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3>Avans Taleplerim</h3>
            @if (Model != null)
            {
                if (User.IsInRole("CompanyManager"))
                {
                    <a asp-action="CreatePersonelManager" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity">Müdür Ekle</button>
                    </a>
                    <a asp-action="CreatePersonel" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity">Personel Ekle</button>
                    </a>
                }
                if (User.IsInRole("DepartmentManager"))
                {
                    <a asp-action="CreatePersonel" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity">Personel Ekle</button>
                    </a>
                }
            }
            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#employees').DataTable();
                    });

                </script>

                <table id="employees"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 12%">Ad</th>
                            <th style="width: 12%">Soyad</th>
                            <th style="width: 18%">Telefon</th>
                            <th style="width: 15%">E-posta</th>
                            <th style="width: 7%">Cinsiyet</th>
                            <th style="width: 10%">Meslek</th>
                            <th style="width: 28%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayAttribute = typeof(Gender).GetMember(item.Gender.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayName = displayAttribute?.GetName() ?? item.Gender.ToString();
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@displayName</td>
                                    <td>@item.Title</td>
                                    <td>
                                        <a asp-action="EditEmployee"
                                           asp-controller="Employee"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex bg-primary">
                                                <i class="fa fa-pen"></i><span>Düzenle</span>
                                            </button>
                                        </a>

                                        <a asp-action="FireEmployee"
                                           asp-controller="Employee"
                                           asp-route-id="@item.Id" onclick="return confirm('Çalışan işten çıkartılacaktır. Emin misiniz?')">
                                            <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                <i class="fa fa-signout"></i><span>İşten Çıkart</span>
                                            </button>
                                        </a>

                                        <a asp-action="DeleteEmployee"
                                           asp-controller="Employee"
                                           asp-route-id="@item.Id" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                                            <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                <i class="fa fa-trash"></i><span>Sil</span>
                                            </button>
                                        </a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div>
                    <a asp-controller="Employee" asp-action="Home"><button class="custom-button custom-button--create-entity">Ana Sayfaya Dön</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
