@model List<PersonelVM>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Personeller</h3>
            @if (Model != null)
            {
                if (User.IsInRole("CompanyManager"))
                {
                    <a asp-action="CreatePersonelManager" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity">Müdür Ekle</button>
                    </a>
                    <a asp-action="CreatePersonel" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity">Personel Ekle</button>
                    </a>
                }
                if (User.IsInRole("Manager"))
                {
                    <a asp-action="CreatePersonel" asp-controller="Employee">
                        <button class="custom-button custom-button--create-entity">Personel Ekle</button>
                    </a>
                }
            }
            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#employees').DataTable();
                    });

                </script>

                <table id="employees"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">Ad</th>
                            <th style="width: 8%">Soyad</th>
                            <th style="width: 15%">Telefon</th>
                            <th style="width: 10%">E-posta</th>
                            <th style="width: 7%">Cinsiyet</th>
                            <th style="width: 18%">Meslek</th>
                            <th style="width: 28%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayAttribute = typeof(Gender).GetMember(item.Gender.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayName = displayAttribute?.GetName() ?? item.Gender.ToString();
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@displayName</td>
                                    <td>@item.Title</td>
                                    <td>
                                        <a asp-action="EditEmployee"
                                           asp-controller="Employee"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex bg-primary align-items-center">
                                                <i class="fa fa-pen"></i><span class="ms-2">Düzenle</span>
                                            </button>
                                        </a>
                                        <a asp-action="DeleteEmployee"
                                           asp-controller="Employee"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteEmployeeModal_@item.Id">
                                            <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                <i class="fa fa-trash"></i><span>Kaldır</span>
                                            </button>
                                        </a>
                                        <a asp-action="FireEmployee"
                                           asp-controller="Employee"
                                           data-bs-toggle="modal"
                                           data-bs-target="#fireEmployeeModal_@item.Id">
                                             <button type="button" class="btn btn-dark btn-sm d-inline-flex gap-1 align-items-center">
                                                <i class="fa-solid fa-user-minus"></i><span class="ms-2">İşten Çıkart</span>
                                            </button>
                                        </a>

                                        @* Delete Employee modal *@
                                        <div class="modal fade" id="deleteEmployeeModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Personel Silme</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Personeli silmek istediğinizden emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="DeleteEmployee"
                                                           asp-controller="Employee"
                                                           asp-route-id="@item.Id">
                                                            <button type="button" class="btn btn-primary">Evet</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @* Fire Employee modal *@
                                        <div class="modal fade" id="fireEmployeeModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Personel İşten Çıkarma</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Personeli işten çıkarmak istediğinizden emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="FireEmployee"
                                                           asp-controller="Employee"
                                                           asp-route-id="@item.Id">
                                                            <button type="button" class="btn btn-warning">Evet</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div>
                    <a asp-controller="Employee" asp-action="Home"><button class="custom-button custom-button--create-entity">Ana Sayfaya Dön</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
