@model DashboardVM
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
    int numberOfPendingLeaves;
    int numberOfPendingExpenses;
    int numberOfPendingAdvances;
    string title;
    List<DashboardLeavesVM> leaves;
    List<DashboardExpensesVM> expenses;
    List<DashboardAdvancesVM> advances;

    if (User.IsInRole("Personel"))
    {
        numberOfPendingLeaves = Model.MyPendingLeavesCount;
        numberOfPendingExpenses = Model.MyPendingExpensesCount;
        numberOfPendingAdvances = Model.MyPendingAdvancesCount;
        title = "ONAY BEKLEYEN TALEPLERİM";
        leaves = Model.MyLeaves;
        expenses = Model.MyExpenses;
        advances = Model.MyAdvances;

    }
    else if (User.IsInRole("Manager"))
    {
        numberOfPendingLeaves = Model.LeavesToBeCompletedByManager.Count;
        numberOfPendingExpenses = Model.ExpensesToBeCompletedByManager.Count;
        numberOfPendingAdvances = Model.AdvancesToBeCompletedByManager.Count;
        title = "ONAY BEKLEYEN TALEPLER";
        leaves = Model.MyLeaves;
        expenses = Model.MyExpenses;
        advances = Model.MyAdvances;
    }
    else if (User.IsInRole("CompanyManager"))
    {
        numberOfPendingLeaves = Model.LeavesToBeCompletedByManager.Count;
        numberOfPendingExpenses = Model.ExpensesToBeCompletedByManager.Count;
        numberOfPendingAdvances = Model.AdvancesToBeCompletedByManager.Count;
        title = "ONAY BEKLEYEN TALEPLER";
        leaves = Model.LeavesToBeCompletedByManager;
        expenses = Model.ExpensesToBeCompletedByManager;
        advances = Model.AdvancesToBeCompletedByManager;
    }
    else
    {
        numberOfPendingLeaves = 0;
        numberOfPendingExpenses = 0;
        numberOfPendingAdvances = 0;
        title = "";
        leaves = Model.LeavesToBeCompletedByManager;
        expenses = Model.ExpensesToBeCompletedByManager;
        advances = Model.AdvancesToBeCompletedByManager;
    }
}



<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



    <script>
        var eventName = [];
        var start = [];
        var end = [];

        //Todo: push metotları yazılacak

        document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendar");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                locale: "tr",
                selectable: true,
                selectHelper: true,
                select: function () {
                    $("#calendarEventModal").modal("toggle");
                },
                headerToolbar: {
                    left: "prev,next today",
                    center: "title",
                    right: "dayGridMonth,timeGridWeek,timeGridDay",
                },
                events: [
                    {
                        title: eventName,
                        start: start,
                        end: end,
                        color: "yellow",
                    },
                ],
            });

            calendar.render();
        });


    </script>

</head>
<body>
    <div class="row">

        @Html.Partial("_PanelPartial")


        <div class="aside col-md-9 container">
            <div class="row text-center">
                <div class="col-md-11 leave-info card">


                    <div class="row">
                        <div class="col-md-4">
                            <h6>@title</h6>



                            @if (numberOfPendingAdvances == 0 && numberOfPendingExpenses == 0 && numberOfPendingLeaves == 0)
                            {

                                <img src="~/ImagesLogo/manager-thumbsup.png" style="width:200px;float:right;" />

                            }
                            else
                            {
                                <canvas class="mb-3" id="myChart" style="margin:0 0; width:250px;display:inline-block; "></canvas>
                            }
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>


                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    const ctx = document.getElementById("myChart");

                                    var numberOfPendingLeaves;
                                    var numberOfPendingExpenses;
                                    var numberOfPendingAdvances;

                                    new Chart(ctx, {
                                        type: "doughnut",
                                        data:
                                        {
                                            labels: [],
                                            datasets:
                                                [
                                                    {
                                                        label: "",
                                                        data: [@numberOfPendingLeaves, @numberOfPendingExpenses, @numberOfPendingAdvances],

                                                        backgroundColor: [
                                                            '#FF6384',
                                                            '#36A2EB',
                                                            '#FFCD56'
                                                        ],
                                                        borderWidth: 1,
                                                    },

                                                ],
                                        },


                                        options: {




                                            plugins: {
                                                legend: {
                                                    labels: {
                                                        font: {
                                                            size: 14
                                                        }
                                                    }
                                                }
                                            }

                                        },


                                        onClick: function (evt) {
                                            var activePoints = myChart.getElementsAtEventForMode(
                                                evt,
                                                "point",
                                                myChart.options
                                            );

                                            if (activePoints.length > 0) {
                                                var clickedElementIndex = activePoints[0].index;


                                                switch (clickedElementIndex) {
                                                    case 0:
                                                        window.location.href = "/Leave/EmployeesLeaves.html";
                                                        break;
                                                    case 1:
                                                        window.location.href = "link2.html";
                                                        break;
                                                    case 2:
                                                        window.location.href = "link3.html";
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            }
                                        },


                                    });

                                    document.getElementById("numberOfPendingLeaves").innerHTML = "Bekleyen İzinler: " + @numberOfPendingLeaves;

                                    document.getElementById("numberOfPendingExpenses").innerHTML = "Bekleyen Masraflar: " + @numberOfPendingExpenses

                                        document.getElementById("numberOfPendingAdvances").innerHTML = "Bekleyen Avanslar: " + @numberOfPendingAdvances;

                                });


                            </script>


                            <script>
                                function checkButtonColor(clickedButton) {
                                    var buttonColor = window.getComputedStyle(clickedButton).backgroundColor;


                                    var rgbLeaves = 'rgb(255, 99, 132)';
                                    var rgbExpenses = 'rgb(54, 162, 235)';
                                    var rgbAdvances = 'rgb(255, 205, 86)';

                                    if (buttonColor === rgbLeaves) {
                                        window.location.href = "/Leave/EmployeesLeaves";
                                    } else if (buttonColor === rgbExpenses) {
                                        window.location.href = "/Expense/EmployeesExpenses";
                                    } else if (buttonColor === rgbAdvances) {
                                        window.location.href = "/Advance/EmployeesAdvances";
                                    }
                                }
                            </script>

                            @{
                                decimal totalLeaveDays = 0;
                                if (Model != null)
                                {

                                    if (Model.MyLeaves != null)
                                    {
                                        foreach (var leave in Model.MyLeaves)
                                        {
                                            totalLeaveDays += leave.DaysOfLeave;
                                        }
                                    }
                                }
                            }

                        </div>


                        <div class="col-md-2 m-auto">
                            @if (User.IsInRole("Manager") || User.IsInRole("CompanyManager"))
                            {

                                <a asp-action="EmployeesLeaves" asp-controller="Leave" type="button" style="background-color:#FF6384; border: 2px solid black; border-radius: 5px;color:black;width:200px;height:30px; line-height:30px;" id="numberOfPendingLeaves" class="numberOfPendingLeaves">
                                    Bekleyen İzinler
                                </a>

                                <a asp-action="EmployeesExpenses" asp-controller="Expense" type="button" style="background-color:#36A2EB; border: 2px solid black; border-radius: 5px;color:black;width:200px;height:30px;" id="numberOfPendingExpenses" class="numberOfPendingLeaves  mt-4">
                                    Bekleyen Masraflar
                                </a>

                                <a asp-action="EmployeesAdvances" asp-controller="Advance" type="button" style="background-color:#FFCD56; border: 2px solid black; border-radius: 5px;color:black;width:200px;height:30px;" id="numberOfPendingAdvances" class="numberOfPendingLeaves  mt-4">
                                    Bekleyen Avanslar
                                </a>

                            }
                            else if (User.IsInRole("Personel"))
                            {

                                <a asp-action="MyLeaves" asp-controller="Leave" type="button" style="background-color:#FF6384; border: 2px solid black; border-radius: 5px;color:black;width:200px;height:30px;" id="numberOfPendingLeaves" class="numberOfPendingLeaves">
                                    Bekleyen İzinler
                                </a>

                                <a asp-action="MyExpenses" asp-controller="Expense" type="button" style="background-color:#36A2EB; border: 2px solid black; border-radius: 5px;color:black;width:200px;height:30px;" id="numberOfPendingExpenses" class="numberOfPendingLeaves mt-4">
                                    Bekleyen Masraflar
                                </a>

                                <a asp-action="MyAdvances" asp-controller="Advance" type="button" style="background-color:#FFCD56; border: 2px solid black; border-radius: 5px; color:black;width:200px;height:30px;" id="numberOfPendingAdvances" class="numberOfPendingLeaves mt-4">
                                    Bekleyen Avanslar
                                </a>

                            }

                        </div>


                        <div class="col-md-6">
                            <div class="vector-dashboard" style="top:3%;left:15%;position:relative;">
                                @if (Model.AppUser.Gender == Gender.Male)
                                {
                                    <img src="~/ImagesLogo/male-vector.png" style="width:300px;" />
                                }
                                else if (Model.AppUser.Gender == Gender.Female)
                                {
                                    <img src="~/ImagesLogo/female-vector.png" style="width:500px;" />

                                }

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 row dashboard-below">

                  

                @if (!User.IsInRole("SiteManager"))
                {
                    <div class="col-md-4 calender card me-4">
                        <div id="calendar" style="width: 100%"></div>
                    </div>
                }
                else
                {
                    <div class="col-md-6 calender card me-4">
                        <div id="calendar" style="width: 100%"></div>
                    </div>
                }

                @if (!User.IsInRole("SiteManager"))
                {
                    <div class="col-md-4 d-flex flex-column gap-2 align-content-between ms-1 me-3">
                        <div class="col-md-12 ">
                            <div class="card company-info">
                                <div class="card-header d-flex justify-content-center gap-2">
                                    <h5 class="card-title text-center mb-0">ŞİRKET BİLGİLERİ</h5>
                                    <div>
                                        @if (User.IsInRole("CompanyManager"))
                                        {
                                            <a asp-action="UpdateCompany" asp-controller="Company" asp-route-id="@User.Claims.FirstOrDefault(x => x.Type == "CompanyId").Value" class="text-black-50 fs-6"><i class="fa fa-pen"></i></a>
                                        }
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="d-flex flex-column gap-2">
                                        <div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-building"></i><span>@Model.Company.CompanyName</span></div>
                                        <div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-location-dot"></i><span>@Model.Company.Address</span></div>
                                        <div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-phone"></i><span>@Model.Company.PhoneNumber</span></div>
                                        <div class="d-flex gap-2 align-items-center text-start"><span class="fw-bold">Vergi No:</span><span>@Model.Company.TaxNumber</span></div>
                                        <div class="d-flex gap-2 align-items-center text-start"><span class="fw-bold">Vergi Dairesi:</span><span>@Model.Company.TaxOffice</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="card company-info">
                                <div class="card-header d-flex justify-content-center gap-2">
                                    <h5 class="card-title text-center mb-0">KİŞİSEL BİLGİLERİM</h5>
                                    <div>

                                        <a asp-action="ProfileEmployee" asp-controller="Employee" asp-route-id="@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value" class="text-black-50 fs-6"><i class="fa fa-pen"></i></a>


                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex flex-column gap-2">
                                        @*<div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-user"></i><span>@Model.AppUser.FullName</span></div>*@
                                        <div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-at"></i><span>@Model.AppUser.Email</span></div>
                                        <div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-phone"></i><span>@Model.AppUser.PhoneNumber</span></div>
                                        <div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-location-dot"></i><span>@Model.AppUser.Address</span></div>
                                        @if (User.IsInRole("Personel") || User.IsInRole("Manager"))
                                        {
                                            @*<div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-building-user"></i><span>@Model.AppUser.Departman</span></div>*@
                                            @*<div class="d-flex gap-2 align-items-center text-start"><i class="fa-solid fa-suitcase"></i><span>@Model.AppUser.Pozisyon</span></div>*@
                                            <div class="d-flex gap-2 align-items-center text-start"><span class="fw-bold">Kazanılmış İzin Gün Sayısı:</span><span>@Model.AppUser.EarnedLeaveDays</span></div>
                                            <div class="d-flex gap-2 align-items-center text-start"><span class="fw-bold">Kalan İzin Gün Sayısı:</span><span>@Model.AppUser.RemainingLeaveDays</span></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <div class="col-md-12 ">
                    <div class="card company-info">
                    <div class="card-header">
                    <h5 class="card-title text-center mb-0">FİNANS BİLGİLERİ</h5>
                    </div>
                    <div class="card-body">
                    <table class="table table-striped table-borderless" id="financeTable">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div> *@
                    </div>
                }
                @if (!User.IsInRole("SiteManager"))
                {

                    <script>
                        const apiURL = 'https://api.ubilisim.com/resmitatiller/';

                        document.addEventListener('DOMContentLoaded', (event) => {
                            let tableBody = document.querySelector("#holidayTable tbody");

                            fetch(apiURL)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        let firstFiveItems = data.resmitatiller.slice(0, 7);
                                        firstFiveItems.forEach(item => {
                                            if (tableBody) {
                                                let row = tableBody.insertRow();
                                                let cellDate = row.insertCell(0);
                                                let cellName = row.insertCell(1);

                                                let date = new Date(item.tarih);
                                                let formattedDate = date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear();

                                                cellDate.innerHTML = formattedDate;
                                                cellName.innerHTML = item.gun;
                                            }
                                        });
                                    } else {
                                        console.log('API verileri alınamadı.');
                                    }
                                })
                                .catch(error => console.error('API isteği sırasında hata oluştu:', error));
                        });
                    </script>
                    <div class="col-md-3">
                        <div class="holiday-info card">
                            <div class="card-header">
                                <h5 class="card-title text-center">RESMİ TATİLLER</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-borderless" id="holidayTable">
                                    <thead>
                                        <tr>
                                            <th>Tarih</th>
                                            <th>Tatil Adı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    <script>
                        const apiURL = 'https://api.ubilisim.com/resmitatiller/';

                        document.addEventListener('DOMContentLoaded', (event) => {
                            let tableBody = document.querySelector("#holidayTable tbody");

                            fetch(apiURL)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        let firstFiveItems = data.resmitatiller.slice(0, 15);
                                        firstFiveItems.forEach(item => {
                                            if (tableBody) {
                                                let row = tableBody.insertRow();
                                                let cellDate = row.insertCell(0);
                                                let cellName = row.insertCell(1);

                                                let date = new Date(item.tarih);
                                                let formattedDate = date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear();

                                                cellDate.innerHTML = formattedDate;
                                                cellName.innerHTML = item.gun;
                                            }
                                        });
                                    } else {
                                        console.log('API verileri alınamadı.');
                                    }
                                })
                                .catch(error => console.error('API isteği sırasında hata oluştu:', error));
                        });
                    </script>
                    <div class="col-md-5">
                        <div class="holiday-info card">
                            <div class="card-header">
                                <h5 class="card-title text-center">RESMİ TATİLLER</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-borderless" id="holidayTable">
                                    <thead>
                                        <tr>
                                            <th>Tarih</th>
                                            <th>Tatil Adı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }


                </div>

                    <div id="calendarEventModal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-md text-center">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">Etkinlik Oluştur</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="" class="form-control">
                                        <label for="Etkinlik">Etkinlik Adı</label>
                                        <input type="text" />
                                        <hr />
                                        <label for="Etkinlik">Etkinlik Başlangıç Zamanı</label>
                                        <input type="date" />
                                        <hr />
                                        <label for="Etkinlik">Etkinlik Bitiş Zamanı</label>
                                        <input type="date" />
                                        <hr />
                                        <button class="btn btn-primary">Kaydet</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @section Scripts {
            @if (TempData["SuccessUpdateCompanyMessage"] != null)
            {
                <script>
                    toastr["info"]("Şirket bilgileri güncellenmiştir.", "Başarılı");
                </script>
            }
        }
</body>



