@model ProfileEmployeeVM

@{
    ViewData["Title"] = "ProfileEmployee";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>


</head>


<body>
    <div class="row">
        @Html.Partial("_PanelPartial")
        <div class="col-md-6 offset-md-1 mt-5">
            <form asp-action="ProfileEmployee">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header d-flex gap-2 justify-content-center">
                        <h3 class="card-title text-center mb-0">Profil Bilgileri</h3>
                        <a asp-action="EditProfile" asp-controller="Employee" asp-route-id="@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value" class="d-flex justify-content-center align-items-center text-black fs-6"><i class="fa fa-pen"></i></a>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Ad Soyad</span>
                                    <span class="form-control">@Model.FullName</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Email</span>
                                    <span class="form-control">@Model.Email</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Telefon Numarası</span>
                                    <span class="form-control">@Model.PhoneNumber</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Doğum Tarihi</span>
                                    <span class="form-control">@Model.Birthdate.ToShortDateString()</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">TC No</span>
                                    <span class="form-control">@Model.IdentificationNumber</span>
                                </div>
                                <div class="form-group">
                                    @{
                                        var enumTypeGender = typeof(Gender);
                                        var enumValuesGender = enumTypeGender.GetEnumValues();
                                        var displayAttributeGender = enumTypeGender.GetMember(Model.Gender.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayNameGender = displayAttributeGender?.GetName() ?? Model.Gender.ToString();
                                    }
                                    <span class="form-label">Cinsiyet</span>
                                    <span class="form-control">@displayNameGender</span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @{
                                        var enumType = typeof(BloodGroup);
                                        var enumValues = enumType.GetEnumValues();
                                        var displayAttribute = enumType.GetMember(Model.BloodGroup.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? Model.BloodGroup.ToString();
                                    }
                                    <span class="form-label">Kan Grubu</span>
                                    <span class="form-control">@displayName</span>
                                </div>
                                @if (User.IsInRole("Manager") || User.IsInRole("Personel"))
                                {
                                    <div class="form-group">
                                        <span class="form-label">Pozisyon</span>
                                        <span class="form-control">@(Model.JobTitle??"Atanmamış")</span>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Yönetici Adı</span>
                                        <span class="form-control">@Model.ManagerName</span>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Yönetici E-Mail</span>
                                        <span class="form-control">@Model.ManagerEmail</span>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Yönetici Telefon Numarası</span>
                                        <span class="form-control">@Model.ManagerPhoneNumber</span>
                                    </div>
                                }
                                <div class="form-group">
                                    <span class="form-label">Adres</span>
                                    <span class="form-control">@Model.Address</span>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</body>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }


    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .card-header {
        /* background-color: #007bff; */
        color: #000;
        border-radius: 10px 10px 0 0;
        padding: 15px;
    }

    .card-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
    }

    .btn-primary {
        background-color: #133A63;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

</style>


