@model UpdateProfileDTO

@{
    ViewData["Title"] = "ProfileEmployee";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}



<body>
    <div class="row">
        @Html.Partial("_PanelPartial")
        <div class="col-md-6" style="margin: 35px auto">
            <form asp-action="ProfileEmployee">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header d-flex gap-2 justify-content-center">
                        <h3 class="card-title text-center mb-0">PROFİL BİLGİLERİM</h3>
                        @* <a asp-action="ProfileEmployee" asp-controller="Employee" asp-route-id="@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value" class="d-flex justify-content-center align-items-center text-black fs-6"></a>
                        </div>*@
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <input asp-for="Id" type="hidden" class="form-control" />
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="FullName" type="hidden" class="form-control" />
                                    <span class="form-label">Ad Soyad</span>
                                    <span class="form-control">@Model.FullName</span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Email" type="hidden" class="form-control" />
                                    <span class="form-label">Email</span>
                                    <span class="form-control">@Model.Email</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Telefon Numarası*</span>
                                    @*<span class="form-control">@Model.Address</span>*@
                                    <input value="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <input asp-for="IdentificationNumber" type="hidden" class="form-control" />
                                    <span class="form-label">T.C. Kimlik Numarası</span>
                                    <span class="form-control">@Model.IdentificationNumber</span>
                                </div>


                            </div>
                            <div class="col-md-6">
                                @if (!User.IsInRole("SiteManager"))
                                {
                                    <div class="form-group">
                                        <span class="form-label">Pozisyon</span>
                                        <span class="form-control">@(Model.JobTitle ?? "Atanmamış")</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <span class="form-label">Pozisyon</span>
                                        <span class="form-control">Admin</span>
                                    </div>
                                }

                                <div class="form-group">
                                    <span class="form-label">Kan Grubu*</span>
                                    <select asp-for="BloodGroup" class="form-control">
                                        @{
                                            var enumType = typeof(BloodGroup);
                                            var enumValues = enumType.GetEnumValues();
                                            foreach (var enumValue in enumValues)
                                            {
                                                var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                                var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                                var isSelected = enumValue.Equals(Model.BloodGroup);

                                                if (isSelected)
                                                {
                                                    <option value="@enumValue" selected>@displayName</option>
                                                }
                                                else
                                                {
                                                    <option value="@enumValue">@displayName</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @{
                                        var enumTypeGender = typeof(Gender);
                                        var enumValuesGender = enumTypeGender.GetEnumValues();
                                        var displayAttributeGender = enumTypeGender.GetMember(Model.Gender.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayNameGender = displayAttributeGender?.GetName() ?? Model.Gender.ToString();
                                    }
                                    <span class="form-label">Cinsiyet</span>
                                    <span class="form-control">@displayNameGender</span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Birthdate" type="hidden" class="form-control" />
                                    <span class="form-label">Doğum Tarihi</span>
                                    <span class="form-control">@Model.Birthdate.ToShortDateString()</span>
                                </div>
                                @* <div class="form-group">
                                @{
                                var enumType = typeof(BloodGroup);
                                var enumValues = enumType.GetEnumValues();
                                var displayAttribute = enumType.GetMember(Model.BloodGroup.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayName = displayAttribute?.GetName() ?? Model.BloodGroup.ToString();
                                }
                                <span class="form-label">Kan Grubu</span>
                                <span class="form-control">@displayName</span>
                                </div>*@


                            </div>
                            <div class="form-group mb-2">
                                <span class="form-label">Adres*</span>
                                @*<span class="form-control">@Model.Address</span>*@
                                <input id="Address" oninput="limitCharacters()" value="@Model.Address" asp-for="Address" class="form-control" />
                                <input id="charCount" type="hidden"></input>
                                <p id="charLimitMessage" style="color: red;"></p>
                            </div>

                        </div>
                        <div class="mb-3">
                            <label>*Güncellenebilir alan</label>
                        </div>
                        @if (!User.IsInRole("SiteManager"))
                        {
                            <div class="row">

                                <div class="card-header d-flex gap-2 justify-content-center mb-3">
                                    <h3 class="card-title text-center">YÖNETİCİ BİLGİLERİM</h3>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Yönetici Adı</span>
                                    <span class="form-control">@(Model.ManagerName ?? "Atanmamış")</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Yönetici E-Mail</span>
                                    <span class="form-control">@(Model.ManagerEmail ?? "Atanmamış")</span>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Yönetici Telefon Numarası</span>
                                    <span class="form-control">@(Model.ManagerPhoneNumber ?? "Atanmamış")</span>
                                </div>
                                @if (Model.ManagerName == null)
                                {
                                    <div class="mb-3"><em class="text-muted">Yöneticinizin atandığını düşünüyorsanız, lütfen çıkış yapıp tekrar giriş yapınız.</em></div>
                                }
                            </div>
                        }

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group text-center d-grid mt-3">
                            <input type="submit" value="Güncelle" class="btn-submit" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @if (TempData["SuccessUpdateProfileMessage"] != null)
        {
            <script>
                toastr["info"]("Profiliniz güncellenmiştir.", "Başarılı");
            </script>
        }
    }
</body>


<style>
    body {
        /* font-family: Arial, sans-serif; */
        background-color: #f5f5f5;
    }


    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .card-header {
        /* background-color: #007bff; */
        color: #000;
        border-radius: 10px 10px 0 0;
        padding: 15px;
    }

    .card-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ced4da;
    }

</style>

<script>
    function limitCharacters() {
        var inputElement = document.getElementById('Address');
        var charCountElement = document.getElementById('charCount');
        var charLimitMessageElement = document.getElementById('charLimitMessage');

        var maxCharacters = 150; // Maksimum karakter sayısını belirle

        var enteredText = inputElement.value;
        var charCount = maxCharacters - enteredText.length;

        charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

        if (charCount == 0) {
            inputElement.value = enteredText.slice(0, maxCharacters);
            charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
        } else {
            charLimitMessageElement.innerText = '';
        }
    }
</script>
