@using humanResourceProject.Models.VMs;
@model List<PersonelVM>

@{
    ViewData["Title"] = "LeaveRequests";
}

<h1>İzin Talepleri</h1>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#leaverequests').DataTable();
    });

</script>



<div class="row">
    @Html.Partial("_PanelPartial_PersonnelManager")

    <div class="aside container mt-5 col-md-9 col-sm-9">

        <table id="leaverequests"
               class="display">
            <thead>
                <tr>
                    <th style="width: 15%">Ad</th>
                    <th style="width: 15%">İkinci Ad</th>
                    <th style="width: 15%">Soyad</th>
                    <th style="width: 20%">Telefon</th>
                    <th style="width: 20%">E-posta</th>
                    <th style="width: 10%">Meslek</th>
                    <th style="width: 10%">Talep Tarihi</th>
                    <th style="width: 10%">İzin Süresi</th>
                    <th style="width: 10%">İzin Başlangıç Tarihi</th>
                    <th style="width: 10%">İzin Bitiş Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                   
                    foreach (var item in Model)
                    {
                        if(item.Leave != null)
                        {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.MiddleName</td>
                            <td>@item.LastName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.JobTitle</td>
                            <td>@item.Leave.CreateDate</td>
                            <td>@item.Leave.DaysOfLeave</td>
                            <td>@item.Leave.StartDateOfLeave</td>
                            <td>@item.Leave.EndDateOfLeave</td>
                            <td>
                                <a asp-action="ApproveLeave"
                                   asp-controller="PersonnelManager"
                                   asp-route-id="@item.Id" onclick="return confirm('Onaylamak istediğinize emin misiniz?')">
                                    <button class="btn btn-secondary btn-sm d-inline-flex bg-primary">
                                        <i class="fa fa-check">Onayla</i>
                                    </button>
                                </a>

                                <a asp-action="RejectLeave"
                                   asp-controller="Manager"
                                   asp-route-id="@item.Id" onclick="return confirm('Reddetmek istediğinize emin misiniz?')">
                                    <button class="btn btn-danger btn-sm d-inline-flex">
                                        <i class="fa fa-x">Reddet</i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

