@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@using humanResourceProject.Domain.Enum;
@using humanResourceProject.Models.DTOs;
@model ExpenseDTO

@{
    ViewData["Title"] = "CreateExpence";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<hr />
<body>
    <div class="row">

        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 0 auto">
                <h1 class="text-center">Masraf Talebi</h1>
        <form asp-action="CreateExpense">
            <div class="form-group mb-3">
                <label asp-for="ExpenseType" class="control-label"></label>
                <select asp-for="ExpenseType" class="form-control">
                    @{
                        var enumType = typeof(ExpenseType);
                        var enumValues = enumType.GetEnumValues();
                        foreach (var enumValue in enumValues)
                        {
                            var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                            var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                            <option value="@enumValue">@displayName</option>
                        }
                            <option value="" disabled selected>Masraf Tipi seçiniz!</option>

                    }
                </select>
                <span asp-validation-for="ExpenseType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DateOfExpense" class="control-label"></label>
                <input value="@DateTime.Now.ToString("dd.MM.yyyy")" max="@DateTime.Now" type="date" asp-for="DateOfExpense" class="form-control" />
                <span asp-validation-for="DateOfExpense" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AmountOfExpense" class="control-label"></label>
                <input type="number" min="1" asp-for="AmountOfExpense" class="form-control" />
                <span asp-validation-for="AmountOfExpense" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" class="form-control">
                    @{
                        var enumTypeCurrency = typeof(Currency);
                        var enumValuesCurrency = enumTypeCurrency.GetEnumValues();
                        foreach (var enumValue in enumValuesCurrency)
                        {
                            var displayAttribute = enumTypeCurrency.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                            var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                            <option value="@enumValue">@displayName</option>
                        }
                            <option value="" disabled selected>Para birimi seçiniz!</option>

                    }
                </select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="UploadPath" class="control-label"></label>
                <input asp-for="UploadPath" type="file" accept=".png, .jpg, .jpeg" class="form-control" />
                <span asp-validation-for="UploadPath" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="EmployeeId" type="hidden" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="ManagerId" type="hidden" class="form-control" />
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="CreateDate" type="hidden" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="text-center"
            <div class="form-group mb-3">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
                <div>
                    <a asp-controller="Employee" asp-action="Home">Anasayfaya Dön</a>
                </div>
            </div>
        </form>
        <div>
            <a asp-controller="Employee" asp-action="Home"><button class="custom-button custom-button--create-entity">Ana Sayfaya Dön</button></a>
        </div>
    </div>
</div>
</body>

