@model List<ExpensePersonnelVM>
@{
    ViewData["Title"] = "MyExpenses";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="heading-list">HARCAMA TALEPLERİM</h3>
            @if (Model != null)
            {
                <a asp-action="CreateExpense" asp-controller="Expense" asp-route-id="@Guid.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value)">
                    <button class="custom-button custom-button--create-entity mb-3">Harcama Ekle</button>
                </a>
            }

            <div class="pagination-container">

                <script>
                    var columnsToExport = [0, 1, 2, 3, 4, 5, 6, 7, 8];
                    $(document).ready(function () {
                        $('#expenses').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },
                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',

                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }

                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },

                            ],
                            "order": [
                                [2, 'desc']
                            ],
                            "columnDefs": [
                                { "type": "date-eu", "targets": 2 }
                            ]
                        });
                    });
                </script>

                <table id="expenses"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">Harcama No</th>
                            <th style="width: 8%">Harcama Türü</th>
                            <th style="width: 6%" data-order="desc">Talep Tarihi</th>
                            <th style="width: 6%">Harcama Tarihi</th>
                            <th style="width: 9%">Harcama Miktarı</th>
                            <th style="width: 5%">Para Birimi</th>
                            <th style="width: 17%">Açıklama</th>
                            <th style="width: 10%">Yönetici</th>
                            <th style="width: 10%">Statü</th>
                            <th style="width: 5%">Fiş</th>
                            <th style="width: 13%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var displayExpenseType = typeof(ExpenseType).GetMember(item.ExpenseType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameExpenseType = displayExpenseType?.GetName() ?? item.ExpenseType.ToString();

                                var displayExpenseStatus = typeof(RequestStatus).GetMember(item.ExpenseStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                var displayNameExpenseStatus = displayExpenseStatus?.GetName() ?? item.ExpenseStatus.ToString();
                                <tr>
                                    <td>@item.ExpenseNo</td>
                                    <td>@displayNameExpenseType</td>
                                    <td data-order="@item.CreateDate.ToString("yyyy-MM-dd")">@item.CreateDate.ToString("dd.MM.yyyy")</td>
                                    <td data-order="@item.DateOfExpense.ToString("yyyy-MM-dd")">@item.DateOfExpense.ToString("dd.MM.yyyy")</td>
                                    <td>@item.AmountOfExpense</td>
                                    <td>@item.Currency</td>
                                    <td>@item.Explanation</td>
                                    <td>@item.ManagerFullName</td>
                                    <td>@displayNameExpenseStatus</td>
                                    <td>
                                        @if (item.FilePath != null)
                                        {
                                            <a href="@item.FilePath" class="text-black">Aç</a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ExpenseStatus == RequestStatus.Pending)
                                        {
                                            <a asp-action="UpdateExpense"
                                               asp-controller="Expense"
                                               asp-route-id="@item.Id">
                                                <button class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center">
                                                    <i class="fa fa-pen"></i><span>Güncelle</span>
                                                </button>
                                            </a>
                                            <a asp-action="DeleteExpense"
                                               asp-controller="Expense"
                                               data-bs-toggle="modal"
                                               data-bs-target="#confirmDeleteModal_@item.Id">
                                                <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                    <i class="fa fa-trash"></i><span>Kaldır</span>
                                                </button>
                                            </a>

                                            <!-- Modal -->
                                            <div class="modal fade" id="confirmDeleteModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmDeleteModalLabel">Silme İşlemi Onayı</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Silmek istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                            <a asp-action="DeleteExpense" asp-controller="Expense" asp-route-id="@item.Id">
                                                                <button type="button" class="btn btn-danger">Sil</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @section Scripts {
        @if (TempData["SuccessUpdateExpenseMessage"] != null)
        {
            <script>
                toastr["info"]("Harcama talebiniz güncellenmiştir.", "Başarılı");
            </script>
        }
    }
</body>