@model UpdateExpenseDTO

@{
    ViewData["Title"] = "UpdateExpenses";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<head>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

        @if (TempData["SuccessPasswordResetMessage"] != null)
        {
            <script>
                toastr["success"]("Şifreniz başarılı bir şekilde yenilenmiştir.", "Başarılı");
            </script>
        }
    }
</head>
<body>
    <div class="row">

        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 35px auto">
            <form asp-action="UpdateExpense" asp-controller="Expense" method="post" enctype="multipart/form-data">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h1 class="card-title text-center">HARCAMA GÜNCELLE</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label asp-for="ExpenseType" class="control-label"></label>
                            <select asp-for="ExpenseType" class="form-control">
                                @{
                                    var enumType = typeof(ExpenseType);
                                    var enumValues = enumType.GetEnumValues();
                                    foreach (var enumValue in enumValues)
                                    {
                                        var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                        <option value="@enumValue">@displayName</option>
                                    }
                                    <option value="" disabled>Harcama türü seçiniz!</option>
                                }
                            </select>
                            <span asp-validation-for="ExpenseType" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AmountOfExpense" class="control-label"></label>
                            <input type="text" id="AmountOfExpense" asp-for="AmountOfExpense" class="form-control" onblur="validateAmount()" />
                            <span asp-validation-for="AmountOfExpense" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Currency" class="control-label"></label>
                            <select asp-for="Currency" class="form-control">
                                @{
                                    var enumTypeCurrency = typeof(Currency);
                                    var enumValuesCurrency = enumTypeCurrency.GetEnumValues();
                                    foreach (var enumValue in enumValuesCurrency)
                                    {
                                        var displayAttribute = enumTypeCurrency.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                        <option value="@enumValue">@displayName</option>
                                    }
                                    <option value="" disabled>Para birimi seçiniz!</option>
                                }
                            </select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DateOfExpense" class="control-label"></label>
                            <input id="DateOfExpense" value="@Model.DateOfExpense.ToString("yyyy-MM-dd")" min="@DateTime.Now" type="date" asp-for="DateOfExpense" class="form-control" />
                            <span asp-validation-for="DateOfExpense" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Explanation" class="control-label"></label>
                            <textarea id="Explanation" oninput="limitCharacters()" value="@Model.Explanation" asp-for="Explanation" class="form-control" rows="8"></textarea>
                            <p id="charCount"></p>
                            <p id="charLimitMessage" style="color: red;"></p>
                            <span asp-validation-for="Explanation" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input asp-for="UploadPath" type="file" class="form-control" />
                            <input asp-for="FilePath" type="hidden" class="form-control" />
                            <input value="@Model.EmployeeId" asp-for="EmployeeId" type="hidden" class="form-control" />
                            <input value="@Model.Id" asp-for="Id" type="hidden" class="form-control" />
                            <input value="@Model.CreateDate" asp-for="CreateDate" type="hidden" class="form-control" />
                            <input value="@Model.ExpenseNo" asp-for="ExpenseNo" type="hidden" class="form-control" />
                            <input value="@Model.ExpenseStatus" asp-for="ExpenseStatus" type="hidden" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>*Zorunlu alan</label>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group d-grid">
                            <input type="submit" value="Güncelle" class="btn-submit" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


    <script>
        // Bugünün tarihini al
        var currentDate = new Date();

        // Geçen ayın ilk gününü al
        var firstDayOfLastMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() - 1, 2);

        // Convert the first day of last month to a string formatted as 'yyyy-mm-dd'
        var formattedFirstDayOfLastMonth = firstDayOfLastMonth.toISOString().split('T')[0];

        // Find the input element by its ID (if there is an ID for the input field)
        var dateInput = document.querySelector('#DateOfExpense');

        // Set the minimum attribute of the input to the first day of the last month
        if (dateInput) {
            dateInput.min = formattedFirstDayOfLastMonth;
            dateInput.max = currentDate.toISOString().split('T')[0];
        }
    </script>
    <script>
        function limitCharacters() {
            var inputElement = document.getElementById('Explanation');
            var charCountElement = document.getElementById('charCount');
            var charLimitMessageElement = document.getElementById('charLimitMessage');

            var maxCharacters = 500; // Maksimum karakter sayısını belirle

            var enteredText = inputElement.value;
            var charCount = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

            if (charCount == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
            } else {
                charLimitMessageElement.innerText = '';
            }
        } 
        function validateAmount() {
            var inputElement = document.getElementById('AmountOfExpense');
            var inputValue = inputElement.value;

            inputValue = inputValue.replace(/,/g, '.');

            var isValid = /^(\d+(\.\d{0,2})?)$/.test(inputValue);

            if (isValid) {
                var numericValue = parseFloat(inputValue);

                inputValue = numericValue.toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
                inputElement.value = inputValue;

                if (numericValue < 100 || numericValue > 100000) {
                    isValid = false;
                }
            }

            if (!isValid) {
                inputElement.setCustomValidity("Yanlış değer girildi. Lütfen 100 ile 100.000 arasında bir para miktarı giriniz.");
            } else {
                inputElement.setCustomValidity("");
            }
        }
    </script>
</body>

