@model List<AdvanceVM>

@{
    ViewData["Title"] = "AdvanceRequests";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Personel Avans Talepleri</h3>
            <div class="pagination-container">

                <script>
                    var columnsToExport = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
                    $(document).ready(function () {
                        $('#advancerequests').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },
                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',

                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }

                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },

                            ],
                            "order": [
                                [2, 'desc']
                            ],
                            "columnDefs": [
                                { "type": "date-eu", "targets": 2 }
                            ]
                        });
                    });
                </script>

                <table id="advancerequests"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 8%">Avans No</th>
                            <th style="width: 7%">Ad</th>
                            <th style="width: 7%">Soyad</th>
                            <th style="width: 8%">Avans Tipi</th>
                            <th style="width: 7%">Talep Tarihi</th>
                            <th style="width: 7%">Son Tarih</th>
                            <th style="width: 10%">Avans Miktarı</th>
                            <th style="width: 5%">Para Birimi</th>
                            <th style="width: 15%">Açıklama</th>
                            <th style="width: 8%">Statü</th>
                            <th style="width: 18%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                if (item != null)
                                {
                                    var displayAdvanceType = typeof(AdvanceType).GetMember(item.AdvanceType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayNameAdvanceType = displayAdvanceType?.GetName() ?? item.AdvanceType.ToString();

                                    var displayAdvanceStatus = typeof(RequestStatus).GetMember(item.AdvanceStatus.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayNameAdvanceStatus = displayAdvanceStatus?.GetName() ?? item.AdvanceStatus.ToString();
                                    <tr>
                                        <td>@item.AdvanceNo</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@displayNameAdvanceType</td>
                                        <td data-order="@item.CreateDate.ToString("yyyy-MM-dd")">@item.CreateDate.ToString("dd.MM.yyyy")</td>
                                        <td data-order="@item.ExpiryDate.ToString("yyyy-MM-dd")">@item.ExpiryDate.ToString("dd.MM.yyyy")</td>
                                        <td>@item.AmountOfAdvance</td>
                                        <td>@item.Currency</td>
                                        <td>@item.Explanation</td>
                                        <td>@displayNameAdvanceStatus</td>
                                        <td>
                                            @if (item.AdvanceStatus == RequestStatus.Pending)
                                            {
                                                //Onaylama modalı
                                                <div class="modal fade" id="approveAdvanceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Avans Talebi Onaylama</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Avans talebini onaylamak istediğinize emin misiniz?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <a asp-action="ApproveAdvance"
                                                                   asp-controller="Advance"
                                                                   asp-route-id="@item.Id">
                                                                    <button type="button" class="btn btn-primary">Onaylıyorum</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                //Reddetme modalı
                                                <div class="modal fade" id="rejectAdvanceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Avans Talebi Reddetme</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group mb-3">Avans talebini reddetmek istediğinize emin iseniz sebebini yazmanız gerekmektedir.</div>
                                                                <div class="form-group mb-3">
                                                                    <label class="control-label">Reddetme Sebebi</label>
                                                                    <textarea id="rejectReason" class="form-control mb-3" rows="8" required></textarea>
                                                                    <span id="rejectValidation" class="text-danger"></span>
                                                                    <input type="hidden" value="@item.Id" id="advanceId" />
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                                <button id="rejectButton" type="button" class="btn btn-danger">Reddet</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                //Onaylama modalı açan buton
                                                <button type="button" class="btn btn-secondary btn-sm d-inline-flex bg-primary gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#approveAdvanceModal">
                                                    <i class="fa fa-check"></i><span>Onayla</span>
                                                </button>

                                                //Reddetme modalı açan buton
                                                <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center" data-bs-toggle="modal" data-bs-target="#rejectAdvanceModal">
                                                    <i class="fa fa-x"></i><span>Reddet</span>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
@*                <div>
                    <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
                </div>*@
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#rejectButton').on('click', function () {
                var rejectReason = $('#rejectReason').val();
                var advanceId = $('#advanceId').val();

                // Sebebi boş bırakırsa hata mesajı ver
                if (rejectReason.trim() === '') {
                    $('#rejectValidation').text('Lütfen reddetme sebebinizi giriniz!');
                    return; // Return et ki AJAX requesti yapmasın
                } else {
                    $('#rejectValidation').text(''); // Önceki hata mesajını temizle
                }

                // AJAX requesti yap
                $.ajax({
                    type: "POST",
                    url: "/Advance/RejectAdvance",
                    data: { id: advanceId, rejectReason: rejectReason },
                    success: function (response) {
                        // Handle success response as needed
                        console.log("Request rejected successfully.");
                        $('#rejectAdvanceModal').modal('hide');
                        window.location.reload(); // Sayfayı yenile
                    },
                    error: function (error) {
                        // Handle errors if any
                        console.error("Error rejecting request:", error);
                        // Optionally, display an error message or take corrective action
                    }
                });
            });
        });
    </script>

</body>