@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@using humanResourceProject.Domain.Enum;
@using humanResourceProject.Models.DTOs;
@model UpdateAdvanceDTO
@{
    ViewData["Title"] = "UpdateAdvance";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        .panel {
            height: 120vh;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<hr />
<body>
    <div class="row">

        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 0 auto">
            <form asp-action="UpdateAdvance">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h1 class="card-title">Avans Güncelle</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label asp-for="AmountOfAdvance" class="control-label"></label>
                            <input value="@Model.AmountOfAdvance" type="number-decimal" min="1" asp-for="AmountOfAdvance" class="form-control" />
                            <span asp-validation-for="AmountOfAdvance" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AdvanceType" class="control-label"></label>
                            <select asp-for="AdvanceType" class="form-control">
                                @{
                                    var enumType = typeof(AdvanceType);
                                    var enumValues = enumType.GetEnumValues();
                                    foreach (var enumValue in enumValues)
                                    {
                                        var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                        <option value="@enumValue">@displayName</option>
                                    }
                                    <option value="" disabled selected>Avans Tipi seçiniz!</option>
                                }

                            </select>
                            <span asp-validation-for="AdvanceType" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Currency" class="control-label"></label>
                            <select asp-for="Currency" class="form-control">
                                @{
                                    var enumTypeCurrency = typeof(Currency);
                                    var enumValuesCurrency = enumTypeCurrency.GetEnumValues();
                                    foreach (var enumValue in enumValuesCurrency)
                                    {
                                        var displayAttribute = enumTypeCurrency.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                        <option value="@enumValue">@displayName</option>
                                    }
                                    <option value="" disabled selected>Para Birimi seçiniz!</option>
                                }
                            </select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ExpiryDate" class="control-label"></label>
                            <input value="@Model.ExpiryDate.ToString("dd.MM.yyyy")" min="@DateTime.Now" type="date" asp-for="ExpiryDate" class="form-control" />
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Explanation" class="control-label"></label>
                            <textarea value="@Model.Explanation" asp-for="Explanation" class="form-control"></textarea>
                            <span asp-validation-for="Explanation" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input value="@Model.Id" asp-for="Id" type="hidden" class="form-control" />
                            <input value="@Model.CreateDate" asp-for="CreateDate" type="hidden" class="form-control" />
                            <input value="@Model.AdvanceStatus" asp-for="AdvanceStatus" type="hidden" class="form-control" />
                            <input value="@Model.AdvanceNo" asp-for="AdvanceNo" type="hidden" class="form-control" />
                            <input value="@Model.EmployeeId" asp-for="EmployeeId" type="hidden" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Güncelle" class="btn btn-primary" />
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <a asp-controller="Employee" asp-action="Home"><button class="btn btn-secondary">Ana Sayfaya Dön</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>