@model UpdateAdvanceDTO
@{
    ViewData["Title"] = "UpdateAdvance";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<head>

</head>
<body>
    <div class="row">

        @Html.Partial("_PanelPartial")

        <div class="col-md-4" style="margin: 0 auto">
            <form asp-action="UpdateAdvance">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <h1 class="card-title">Avans Güncelle</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label asp-for="AdvanceType" class="control-label"></label>
                            <select asp-for="AdvanceType" class="form-control">
                                @{
                                    var enumType = typeof(AdvanceType);
                                    var enumValues = enumType.GetEnumValues();
                                    foreach (var enumValue in enumValues)
                                    {
                                        var displayAttribute = enumType.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();

                                        <option value="@enumValue">@displayName</option>

                                    }
                                    <option value="" disabled>Avans Tipi seçiniz!</option>
                                }

                            </select>
                            <span asp-validation-for="AdvanceType" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AmountOfAdvance" class="control-label"></label>
                            <input value="@Model.AmountOfAdvance" type="number-decimal" min="1" asp-for="AmountOfAdvance" class="form-control" />
                            <span asp-validation-for="AmountOfAdvance" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Currency" class="control-label"></label>
                            <select asp-for="Currency" class="form-control">
                                @{
                                    var enumTypeCurrency = typeof(Currency);
                                    var enumValuesCurrency = enumTypeCurrency.GetEnumValues();
                                    foreach (var enumValue in enumValuesCurrency)
                                    {
                                        var displayAttribute = enumTypeCurrency.GetMember(enumValue.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                        var displayName = displayAttribute?.GetName() ?? enumValue.ToString();
                                        <option value="@enumValue">@displayName</option>
                                    }
                                    <option value="" disabled>Para Birimi seçiniz!</option>
                                }
                            </select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ExpiryDate" class="control-label"></label>
                            <input value="@Model.ExpiryDate.ToString("yyyy-MM-dd")" min="@DateTime.Now" type="date" asp-for="ExpiryDate" class="form-control" />
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Explanation" class="control-label"></label>
                            <textarea id="Explanation" oninput="limitCharacters()" asp-for="Explanation" class="form-control" rows="8"></textarea>
                            <p id="charCount" ></p>
                            <p id="charLimitMessage" style="color: red;"></p>
                            <span asp-validation-for="Explanation" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input value="@Model.Id" asp-for="Id" type="hidden" class="form-control" />
                            <input value="@Model.CreateDate" asp-for="CreateDate" type="hidden" class="form-control" />
                            <input value="@Model.AdvanceStatus" asp-for="AdvanceStatus" type="hidden" class="form-control" />
                            <input value="@Model.AdvanceNo" asp-for="AdvanceNo" type="hidden" class="form-control" />
                            <input value="@Model.EmployeeId" asp-for="EmployeeId" type="hidden" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>*Zorunlu alan</label>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group d-grid">
                            <input type="submit" value="Güncelle" class="btn btn-primary" />
                        </div>


                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function limitCharacters() {
            var inputElement = document.getElementById('Explanation');
            var charCountElement = document.getElementById('charCount');
            var charLimitMessageElement = document.getElementById('charLimitMessage');

            var maxCharacters = 500; // Maksimum karakter sayısını belirle

            var enteredText = inputElement.value;
            var charCount = maxCharacters - enteredText.length;

            charCountElement.innerText = 'Kalan Karakter Sayısı: ' + charCount;

            if (charCount == 0) {
                inputElement.value = enteredText.slice(0, maxCharacters);
                charLimitMessageElement.innerText = 'Maksimum karakter sayısına ulaşıldı!';
            } else {
                charLimitMessageElement.innerText = '';
            }
        }
    </script>
</body>