@using humanResourceProject.Models.VMs;

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}


@model List<PersonelVM>


<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

 



    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    

  

</head>

<body>

    <div class="row">

        @Html.Partial("_PanelPartial")


        <div class="aside container mt-5 col-md-9 col-sm-9">
           @* <div class="search-bar" style="display: flex">
                <input type="text" id="searchInput" placeholder="Arama Yap" /><i class="fas fa-search mt-2"></i>
            </div>
            <hr />*@
            @if (Model != null)
            {
                <a asp-action="Manager" asp-controller="Admin">
                    <button class="custom-button">Personel Ekle</button>
                </a>
            }

            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#employees').DataTable();
                            });

                </script>


                <table id="employees"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 15%">Ad</th>
                            <th style="width: 15%">Soyad</th>
                            <th style="width: 20%">Telefon</th>
                            <th style="width: 20%">E-posta</th>
                            <th style="width: 10%">Ünvan</th>
                            <th style="width: 10%">Meslek</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@item.Title</td>
                                    <td>@item.Job</td>
                                    <td>
                                        <a asp-action="EditEmployee"
                                           asp-controller="Manager"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex bg-primary">
                                                <i class="fa fa-pen"></i>
                                            </button>
                                        </a>

                                        <a asp-action="DeleteEmployee"
                                           asp-controller="Manager"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-danger btn-sm d-inline-flex">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            
               @* @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Employees", new {page}))*@

              @*  <script>
                    $(document).ready(function () {
                        $("#searchInput").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $("tbody tr").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
                </script>*@






            </div>




        </div>
    </div>
</body>