@model List<JobVM>

@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="text-center">Pozisyonlar</h3>

            @if (User.IsInRole("CompanyManager"))
            {
                <a asp-action="CreateJob" asp-controller="Job">
                    <button class="custom-button custom-button--create-entity">Pozisyon Ekle</button>
                </a>
            }

            <div class="pagination-container">

                <script>
                    $(document).ready(function () {
                        $('#jobs').DataTable({
                            "language": { "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json" }
                        });
                    });

                </script>

                <table id="jobs"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 15%">Pozisyon Adı</th>
                            <th style="width: 60%">Tanımı</th>
                            <th style="width: 25%">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a asp-action="UpdateJob"
                                           asp-controller="Job"
                                           asp-route-id="@item.Id">
                                            <button class="btn btn-secondary btn-sm d-inline-flex bg-primary align-items-center">
                                                <i class="fa fa-pen"></i><span class="ms-2">Düzenle</span>
                                            </button>
                                        </a>
                                        <a asp-action="DeleteJob"
                                           asp-controller="Job"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteJobModal_@item.Id">
                                            <button class="btn btn-danger btn-sm d-inline-flex gap-1 align-items-center">
                                                <i class="fa fa-trash"></i><span>Kaldır</span>
                                            </button>
                                        </a>

                                        @* Delete Job modal *@
                                        <div class="modal fade" id="deleteJobModal_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Pozisyon Silme</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Pozisyonu silmek istediğinizden emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="DeleteJob"
                                                           asp-controller="Job"
                                                           asp-route-id="@item.Id">
                                                            <button type="button" class="btn btn-danger">Sil</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @section Scripts {
        @if (TempData["SuccessUpdateJobMessage"] != null)
        {
            <script>
                toastr["info"]("İş tanımı güncellenmiştir.", "Başarılı");
            </script>
        }
    }
</body>
