@model List<PersonelPossessionVM>

@{
    ViewData["Title"] = "Possessions";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<body>
    <div class="row">
        @Html.Partial("_PanelPartial")

        <div class="aside container mt-5 col-md-9 col-sm-9">
            <h3 class="heading-list">ZİMMETLERİM</h3>


            <div class="pagination-container">

                <script>
                    var columnsToExport = [0, 1, 2, 3, 4, 5];

                    $(document).ready(function () {
                        $('#possessions').DataTable({
                            "language": {
                                "buttons": {
                                    "copyTitle": "Panoya Kopyalandı",
                                    "copySuccess": {
                                        "_": "%d satır kopyalandı",
                                        "1": "1 satır kopyalandı"
                                    }
                                },
                                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
                            },



                            dom: 'lBfrtip',
                            "buttons": [
                                'spacer',
                                {
                                    extend: 'copy',
                                    text: 'Kopyala',

                                },
                                {
                                    extend: 'print',
                                    text: 'Yazdır',
                                    exportOptions: {
                                        columns: columnsToExport
                                    },
                                    //TODO cardviewda görünmesi için tablolarda headerlar var bunların yazdırılmaması gerekir


                                },
                                {
                                    extend: 'spacer',
                                    style: 'bar',
                                    text: 'Dışarı Aktar:'
                                },

                                {
                                    extend: 'csv',
                                    text: 'CSV',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: 'Excel',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: 'Pdf',
                                    orientation: 'landscape',
                                    exportOptions: {
                                        columns: columnsToExport
                                    }
                                },

                            ],
                            "order": [
                                [1, 'asc']
                            ],
                        });
                    });
                </script>

                <table id="possessions"
                       class="display">
                    <thead>
                        <tr>
                            <th style="width: 10%">Barkod No</th>
                            <th style="width: 10%">Başlangıç Tarihi</th>
                            <th style="width: 10%">Marka</th>
                            <th style="width: 15%">Model</th>
                            @* <th style="width: 10%">Bitiş Tarihi</th> *@
                            <th style="width: 35%">Açıklama</th>
                            <th style="width: 10%">Zimmet Türü</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    var displayAttribute = typeof(PossessionType).GetMember(item.PossessionType.ToString())[0].GetCustomAttribute<DisplayAttribute>();
                                    var displayName = displayAttribute?.GetName() ?? item.PossessionType.ToString();

                                    <tr>
                                        <td>@item.Barcode</td>
                                    <td>@item.StartDateOfPossession.ToShortDateString()</td>
                                        <td>@item.Brand</td>
                                        <td>@item.PossessionModel</td>
                                        @* <td>@item.EndDateOfPossession.ToShortDateString()</td> *@
                                        <td>@item.Details</td>
                                        <td>@displayName</td>
                                    </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
